#root {
    background-color: blue;
}

ToggleButton {
    height: 18px;
    min-width: 20px;
    background-color: #DDDDDD;
    border-color: black;
    border-width: 1px;
    margin: 3px;

    font-size: 12px;
    -unity-text-align: middle-center;
    flex: none;
}

.buttonPressed {
    background-color: #888888;
}

.buttonHover {
    background-color: #FFFFFF
}

